# Project exclude paths
/target/
/ext/
/.idea/
/MSFraggerDIA_postprocess.iml
/miscellaneousScripts/
MSBooster.iml
dependency-reduced-pom.xml
src/main/java/utils/RandomThings.java
src/main/java/features/detectability/DetectNotes